
/* General/Overridable */

body {
    margin: 0px auto 0px;
    padding: 0px;

    background-color: white;
}

div {
}

h1 {
    margin: 0px;
    padding: 0px;
}

li.header-item {
    list-style: none;
}

/* main header */

.main-header-grid-container {
    margin: 0px;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    align-items: stretch;
    align-items: center;
}

.header-icon {
    justify-self: start;
}

.header-webtitle {
    margin: auto;
    justify-self: center;
}

.main-header {
    background-color: rgb(75, 118, 120);
}

/* Secondary header */

.secondary-header-flex-container {
    margin: 0px;

    display: flex;
    justify-content: start;
}

.secondary-header-flex-item {
    font-size: 24px;
}

.secondary-header {
    position: relative;
    
    padding: 2px;
    
    background-color: rgb(102, 156, 158);
    
    box-shadow: 0px 7px 10px -10px;
}

/* Content */

.content-wrapper {
    z-index: -1;

    margin: 0px auto 0px;
    
    width: 75%;
    padding: 20px;

    background-color: rgb(102, 156, 158);
}