html {
    min-height: 100%;
}

.landing {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: x-large;
    color: white;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgb(27, 124, 204), 70%, rgb(121, 83, 182));
}

.welcome {  
    width: 50%;
    height: 100%;
    margin: auto;
    margin-top: 15%;
    padding: 10px;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
}

nav {
    height: auto;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(13, 57, 94);
}

li.nav {
    padding: 12px;
    display: inline-block;
    text-align: center;
    list-style: none;
    font-size: 12pt;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.bottom-border {
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: -20%;
    left: 0;
    background-color: rgb(13, 57, 94);
}

p,h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: inherit;
    color: gold;
}