/* Public Variables */

:root {
    --bg: rgb(102, 156, 158);
    --bgContent: rgb(75, 118, 120);
}

/* General/Overridable */

body {
    margin: 0px auto 0px;
    padding: 0px;

    font-size: larger;

    background-color: white;
}

h1{
    margin: 0px;
    padding: 0px;
}

h3, h4 {
    margin: 5px auto 5px;
    padding: 0px;
}

p {
    margin: 1px auto 1px;
    padding: 0px;
}

li.content-body, ul.content-body {
    margin: 0px auto 0px;
    padding: 0px;
}

li {
    list-style-type: '-  ';
}

hr {
    margin: 0;
    padding: 0;
    color: var(--bgContent);
}

li.header-item {
    list-style: none;
}

/* main header */

.main-header-wrapper {
    border-bottom: 1px solid rgb(51, 81, 82);
}

.main-header-grid-container {
    margin: 0px;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    align-items: stretch;
    align-items: center;
}

.header-icon {
    justify-self: start;
}

.header-webtitle {
    margin: auto;
    justify-self: center;
}

.main-header {
    background-color: var(--bgContent);
}

/* Secondary header */

.secondary-header-flex-container {
    margin: 0px;

    display: flex;
    justify-content: start;

    border-bottom: 1px solid var(--bgContent);
}

.secondary-header-flex-item {
    font-size: 18px;
}

.secondary-header {
    position: relative;
    
    padding: 2px;
    
    background-color: var(--bg);
    
    box-shadow: 0px 7px 10px -10px;
}

/* Content */

.content-wrapper {
    z-index: -1;

    margin: 40px auto 40px;
    padding: 20px;
    
    width: 50%;

    background-color: var(--bg);
    border: 1px solid var(--bgContent);
    border-radius: 10px;
}

.content-body {
    margin: 0px auto 0px;
}

div.content-grid-item.content-header {
    margin: 5px auto 5px;
}

div.content-grid-item.content-body {
    margin: 5px auto 20px;
}

ul.content-list-container {
    margin: 0px auto 0px;
    padding-left: 20px;
}